body {
  background: #fff;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  width: 900px;
  margin: 40px auto;
}
.a {
  width: 180px;
  height: 180px;
  background: #9552b7;
  border: 2px solid #3d2352;
  border-radius: 8px;
  position: relative;
}
.sel {
  border: 2px solid #00aaff;
}
.b {
  display: flex;
  margin: 10px 0 0 10px;
}
.col {
  flex-direction: column;
}
.bot {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.c {
  width: 38px;
  height: 38px;
  background: #f89c1d;
  border: 2px solid #3d2352;
  border-radius: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
}
